# Ghost Inspector Test Reports

## WP Test Suite

- [Advanced Shortcode](https://app.ghostinspector.com/tests/648c4d1b82bf299ccb954922)
- [Convert Gallery to Slider Activation](https://app.ghostinspector.com/tests/648c4d1b82bf299ccb9548ff)
- [Deactivate Extensions - Activate one](https://app.ghostinspector.com/tests/648c4d1b82bf299ccb95485c)
- [Defaults Activation](https://app.ghostinspector.com/tests/648c4d1b82bf299ccb9548dc)
- 
