name: GI
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: execute Ghost Inspector test
        uses: docker://ghostinspector/cli
        with:
          args: test execute ${{ secrets.GI_TEST }} \
            --apiKey ${{ secrets.GI_API_KEY }} \
            --startUrl https://tests.tamewp.com \
            --errorOnFail
