name: GI
on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test_1:
    runs-on: ubuntu-latest
    steps:
      - name: execute GI Download Activation
        uses: docker://ghostinspector/cli
        with:
          args: test execute ${{ secrets.GI_DOWNLOAD }} \
            --apiKey ${{ secrets.GI_API_KEY }} \
            --startUrl https://tests.tamewp.com/wp-login.php?redirect_to=https%3A%2F%2Ftests.tamewp.com%2Fwp-admin%2F&reauth=1 \
            --errorOnFail

  test_2:
    runs-on: ubuntu-latest
    steps:
      - name: execute GI Advanced Shortcode Activation
        uses: docker://ghostinspector/cli
        with:
          args: test execute ${{ secrets.GI_ADVANCEDSHORTCODE }} \
            --apiKey ${{ secrets.GI_API_KEY }} \
            --startUrl https://tests.tamewp.com/wp-login.php?redirect_to=https%3A%2F%2Ftests.tamewp.com%2Fwp-admin%2F&reauth=1 \
            --errorOnFail

  test_3:
    runs-on: ubuntu-latest
    steps:
      - name: execute GI Login with invalid credentials
        uses: docker://ghostinspector/cli
        with:
          args: test execute ${{ secrets.GI_INVALIDLOGIN }} \
            --apiKey ${{ secrets.GI_API_KEY }} \
            --startUrl https://tests.tamewp.com/wp-login.php?redirect_to=https%3A%2F%2Ftests.tamewp.com%2Fwp-admin%2F&reauth=1 \
            --errorOnFail

  test_4:
    runs-on: ubuntu-latest
    steps:
      - name: execute GI Login and activate Lifetime license
        uses: docker://ghostinspector/cli
        with:
          args: test execute ${{ secrets.GI_LOGIN_LC_ACTIVATION }} \
            --apiKey ${{ secrets.GI_API_KEY }} \
            --startUrl https://tests.tamewp.com/wp-login.php?redirect_to=https%3A%2F%2Ftests.tamewp.com%2Fwp-admin%2F&reauth=1 \
            --errorOnFail
